html, body {
  text-align: center;
  background-color: #000;
  color: #fff;
  #root{
    .App{
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .score {
        position: absolute;
        top: 0;
        &#left-score {
          left: 10%;
        }
        &#right-score {
          right: 10%;
        }
      }   
      .game-area-wrapper{
        height: 500px;
        width: 500px;
        border-radius: 5px;
        margin: auto;
        position: relative;
        border: 1px solid #fff;
        #left-paddle {
          background-color: #fff;
          left: 0;
        }
        #right-paddle {
          background-color: #fff;
          right: 0;
        }
        .paddle {
          top: 175px;
          height: 150px;
          width: 10px;
          position: absolute;
        }
        .ball {
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-radius: 10px;
          position: absolute;
          left: 245px;
          top: 245px;
        }
      }
    }
  }
}